* {
    margin: 0;
    font-family: 'Figtree', sans-serif;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

/* These are the sizes and 
colors of the text */
h1, h3, h4 {
    color: white;
}

h1 {
    font-size: 3.5rem;
}

h3 {
    font-size: 1.75rem;
    font-weight: 400;
}

h4 {
    font-size: 25px;
    font-weight: 700;
}

h5{
    font-size: 16px;
    color: #6B6B6B;
    font-weight: 400;
}

.card p {
    color: #B0B0B0;
    font-size: 1rem;
    font-weight: 700;
}

body {
    background-color: black;
    background-image: url("./Assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

#logo {
    width: 48px;
}

#icon1, #icon2, #icon3 {
    width: 96px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0 40px;
    gap: 80px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.card {
    background: rgba(0, 0, 0, 0.48);
    border-radius: 24px;
    padding: 48px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 1 1 0;
}

.card h4 {
    padding: 16px 0px;
}

.card button {
    margin: 40px 0 16px;
    border-radius: 100px;
    color: #033239;
    border: none;
}

button {
    height: 36px;
    width: 138px;
    font-size: 13px;
    font-weight: 700;
}

footer {
    margin: 80px 0 64px;
}

footer a {
    color: white;
    font-size: 1.75rem;
    font-weight: 400;
    text-decoration: none;
}

.firstRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px;
}

.redDot {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #DE0A4A;
    margin: 0 16px;
}

/* or (max-height: 975px)
    i am not sure i want this. maybe smaller */
@media (max-width: 914px)  {
    h1 {
        font-size: 32px;
    }

    h3, h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 14
        ;
    }
    .card p {
        font-size: 14px;
    }

    #logo {
        width: 48px;
    }

    body {
        background-size: 100% auto;
        /* background-position: top; */
    }

    .header {
        padding: 48px 25px;
        gap: 32px
    }
   
    #icon1, #icon2, #icon3 {
        width: 64px;
    }

    .card {
        background: rgba(47, 47, 47, 0.48);;
    }

    .cards {
        flex-direction: column;
    }

    .container {
        width: 93%;
    }
}

@media (min-width: 1600px) {
    
}


/* This is to get lightmode  */

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-image: none;
        background-color: white;
    }

    h1, h3 {
        color: #1D1D1D;
    }

    .card {
        padding-top: 160px;
        border-radius: 0px;
        background-color: black;

        background-repeat: no-repeat;
        background-size: cover;
        background-position:  bottom;
    }

    .photo {
        background-image: linear-gradient( rgb(22, 22, 22, 0.2) 50%, #161616 100%),url("./Assets/video-light.png");
    }

    .drone {
        background-image: linear-gradient( rgba(22, 22, 22, 0.2) 50%, #161616 100%),url("./Assets/drone-light.png"); 
    }

    .production {
        background-image: linear-gradient( rgba(22, 22, 22, 0.2) 50%, #161616 100%),url("./Assets/video-edit-light.png"); 
    }

}